<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63977119107-647ar8ej5spl6ejp9d2n9mtgjjojr062.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63977119107-647ar8ej5spl6ejp9d2n9mtgjjojr062</string>
	<key>API_KEY</key>
	<string>AIzaSyD4wCt_a8bgOTDSRw35xGYmi1EmAauO-38</string>
	<key>GCM_SENDER_ID</key>
	<string>63977119107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eashaggarwal.wavecheck</string>
	<key>PROJECT_ID</key>
	<string>wavecheck-8b1ae</string>
	<key>STORAGE_BUCKET</key>
	<string>wavecheck-8b1ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63977119107:ios:298bf90991f94105b8aab6</string>
	<key>DATABASE_URL</key>
	<string>https://wavecheck-8b1ae.firebaseio.com</string>
</dict>
</plist>